<article class="post__container">
    <a class="link" href="/">Back</a>
    <h1 class="post__title">{{title}}</h1>
    <section class="post__content">
        {{{postHtml}}}
    </section>
</article>
